@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,300;0,500;0,700;1,900&display=swap");
*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.06em;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "BPimperial";
  src: url("../fonts/BPimperial_italic.otf");
  font-style: italic;
}
:root {
  --main: #f4b324;
  --light: #f6e7d8;
  --dark: #1c191a;
  --accent: #f14902;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --main: #e6a20c;
    --light: #ecceaf;
    --dark: #1d1a1b;
    --accent: #d84102;
  }

  img {
    opacity: 0.95;
  }
}
:root {
  --transition-static: 1s;
}

.slide-r-l {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  z-index: 10;
  background: var(--main);
  transition: 0.6s ease-out;
}
.slide-r-l::before {
  content: "";
  position: absolute;
  inset: 10vw;
  background: var(--dark);
  background-image: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 2.5vw;
  transition: 0.6s ease-out;
}
.slide-r-l.transition--active {
  left: 0;
}

@-webkit-keyframes nav-hide {
  0% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes nav-hide {
  0% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes nav-show {
  0% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(15%);
  }
  85% {
    transform: translateX(15.5%);
  }
  100% {
    transform: translateX(15%);
  }
}
@keyframes nav-show {
  0% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(15%);
  }
  85% {
    transform: translateX(15.5%);
  }
  100% {
    transform: translateX(15%);
  }
}
.hamburger {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.15s ease-in-out;
  margin-right: calc(0.85em / 8);
}
.hamburger {
  transition: opacity 0.2s ease;
}
.hamburger:hover {
  opacity: 0.8;
}
.hamburger__box {
  display: inline-block;
  position: relative;
  height: 18px;
  width: 30px;
}
.hamburger__inner {
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--light);
  top: 50%;
  left: 0;
  transition: background-color 0.05s 0.05s ease-in-out;
  transform: translateY(-50%);
}
.hamburger__inner::before, .hamburger__inner::after {
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--light);
  content: "";
  left: 0;
  transition: transform 0.15s 0.05s ease-in-out;
}
.hamburger__inner::before {
  top: -10px;
}
.hamburger__inner::after {
  top: 10px;
}
.hamburger--visibility {
  padding: 0.85em;
  margin-right: 0;
  border-radius: 0.5em;
  background: var(--dark);
}
.hamburger--active .hamburger__inner {
  background: transparent;
}
.hamburger--active .hamburger__inner::before {
  transform: translateY(10px) rotate(45deg);
  background: var(--dark);
}
.hamburger--active .hamburger__inner::after {
  transform: translateY(-10px) rotate(-45deg);
  background: var(--dark);
}

.btn {
  position: relative;
  background: var(--dark);
  border: none;
  outline: none;
  color: var(--light);
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease;
}
.btn--icon {
  display: block;
  pointer-events: none;
  font-family: "Font Awesome 5 Free";
  box-shadow: none;
  padding: 0.025em;
}
.btn--icon--rounded {
  border-radius: 50%;
}
.btn--header {
  width: 100%;
  padding: 0.75em 0;
  transition: all 0.2s ease;
}
.btn--link {
  display: inline;
  background: var(--light);
  color: var(--dark);
}
.btn--popup {
  display: inline-block;
  background: var(--accent);
  color: var(--light);
  text-align: center;
}
.btn--contact {
  display: inline-block;
  background: var(--dark);
  color: var(--light);
}
.btn--scrollUp {
  position: fixed;
  z-index: 7;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: none;
  padding: 0.1em;
  transition: all 0.2s ease;
}

.container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  position: relative;
}

.scrollUp {
  right: 20px;
  bottom: 55px;
  opacity: 0;
  visibility: hidden;
}
.scrollUp.scrollUp--active {
  opacity: 1;
  visibility: visible;
}
.scrollUp {
  transition: opacity 0.2s ease;
}
.scrollUp:hover {
  opacity: 0.8;
}

.prop {
  position: absolute;
  height: 100%;
}
.prop__chain {
  top: 68px;
}
.prop__clock {
  top: 131px;
  transform: rotate(-25deg);
}
.prop__backpack {
  position: relative;
  height: 5rem;
}
.prop__wrench {
  height: 5rem;
  top: 52.5%;
  right: 13vw;
  transform: rotateY(180deg);
}
.prop__gold {
  height: 3.5rem;
  top: 15%;
  right: 8vw;
  transform: rotate(35deg);
}
.prop__gold--first {
  top: 58%;
  left: 4vw;
  transform: rotate(0deg);
}
.prop__sword {
  height: 0;
}
.prop__model {
  height: 0;
}

.shape {
  display: none;
}

.contour {
  position: absolute;
  height: 20vh;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--main);
  border-left: 0.15em solid var(--dark);
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: "Saira", sans-serif;
}

.hero {
  background: var(--dark);
  color: var(--light);
  display: grid;
  align-content: space-between;
  min-height: 100vh;
}
.hero__top-box {
  position: relative;
  z-index: 7;
  background: var(--main);
  padding: 1em 1.8em;
}
.hero__top {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.45rem;
  line-height: 0.85;
}
.hero__top--main {
  color: var(--light);
}
.hero__top--secondary {
  color: var(--dark);
}
.hero__content {
  display: grid;
  align-content: center;
  justify-content: center;
}
.hero__img {
  height: 22rem;
}
.hero__quote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
@media screen and (max-height: 41.25em) {
  .hero__quote {
    display: none;
  }
}
.hero__quote__text {
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 1em;
}
.hero__quote__text > span:not(:last-of-type) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-stroke: 0.5px var(--light);
}
.hero__quote__text > * {
  display: block;
}
.hero__quote__text--link {
  color: var(--accent);
}
.hero__buy-box {
  position: relative;
  z-index: 6;
  text-align: center;
}
.hero__buy {
  font-weight: 900;
}
.hero__buy--btn {
  background: var(--accent);
  color: var(--light);
  text-transform: uppercase;
  -webkit-text-stroke: 3px var(--main);
  font-size: 3rem;
}
.hero__buy--btn {
  transition: background-color 0.2s ease;
}
.hero__buy--btn:hover {
  background: rgba(var(--accent), 0.8);
}
.hero__buy--text {
  color: var(--accent);
  font-size: 0.8rem;
  margin-bottom: 0.25em;
}

.nav {
  position: absolute;
}
.nav-toggle {
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 9;
}
.nav-close {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  height: 100%;
  width: 15%;
}
.nav-close--visibility {
  z-index: 8;
}
.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background: var(--light);
  border-left: 5px solid var(--main);
  text-align: center;
  transform: translateX(100%);
  transition: opacity 0.5s ease, visibility 0.5s ease;
  -webkit-animation: nav-hide 0.35s ease-in-out;
          animation: nav-hide 0.35s ease-in-out;
}
.nav__list--visibility {
  opacity: 1;
  visibility: visible;
  -webkit-animation: nav-show 0.5s ease-in-out forwards;
          animation: nav-show 0.5s ease-in-out forwards;
}
.nav__item:last-of-type {
  border-top: 5px solid var(--accent);
  padding: 1em 5em 0;
}
.nav__link {
  display: inline-block;
  position: relative;
  color: var(--dark);
  font-family: "Saira", sans-serif;
  font-size: 1.25rem;
}
.nav__link {
  transition: opacity 0.2s ease;
}
.nav__link:hover {
  opacity: 0.8;
}
.nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background: var(--accent);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
.nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: var(--accent);
  transform: scaleX(1);
  transform-origin: bottom center;
  transition: transform 0.1s ease-out;
}

.section__title {
  text-align: center;
  font-family: "BPimperial", serif;
  font-size: 3.5rem;
  text-shadow: 2px 5px 3px rgba(var(--dark), 0.35);
}

.server {
  background: var(--main);
  color: var(--dark);
  padding: 2.5em 0;
}
.server__description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25em;
  margin: 1.5em 0 2em;
}
.server__description--main {
  color: var(--light);
  text-decoration: underline;
}
.server__description--block {
  display: block;
}
.server__title {
  text-align: center;
  -webkit-text-stroke: 0px var(--accent);
  font-family: "BPimperial", serif;
  font-size: 2.25rem;
  margin: 1.25em 0 0;
}
.server__container {
  border: 5px solid var(--light);
  padding: 0.5em 1em;
}
.server__container__box {
  display: grid;
  place-items: center;
  padding: 1em 0;
}
.server__element {
  transition: transform 0.2s ease-in-out;
}
.server__element:hover {
  transform: scale(1.05);
}
.server__element-desc {
  text-align: center;
  background: var(--light);
  border-bottom: 0.25em solid var(--accent);
  margin: 0.5em 0;
  padding: 0.25em 1em 0em;
}

.design-server {
  -webkit-clip-path: polygon(0 0, 30% 2.5vh, 100% 2.5vh, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 30% 2.5vh, 100% 2.5vh, 100% 100%, 0 100%);
  background: var(--main);
}

.dynmap {
  background: var(--light);
  color: var(--dark);
  padding: 2.5em 0;
}
.dynmap__title {
  text-align: right;
}
.dynmap__description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25em;
  margin: 1.25em 0 0.75em;
}
.dynmap__link {
  margin-left: 0.5em;
}
.dynmap__map {
  display: block;
  width: 80%;
  max-width: 800px;
  aspect-ratio: 4/3;
  margin: 2em auto;
  border: 5px solid var(--accent);
}

.design-dynmap {
  -webkit-clip-path: polygon(0 2.5vh, 70% 2.5vh, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 2.5vh, 70% 2.5vh, 100% 0, 100% 100%, 0 100%);
  margin: -2.5vh 0 0;
}

.play {
  background: var(--main);
  color: var(--dark);
  padding: 2.5em 0;
}
.play__description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25em;
  margin: 1.25em 0 0.75em;
}
.play__description--ps {
  font-size: 0.65em;
  margin: 0 0 4em;
}
.play .section__content {
  display: grid;
  place-items: center;
}
.play__link {
  position: relative;
  background: var(--accent);
  color: var(--light);
  text-align: center;
  font-size: 2rem;
  margin: 1em 0 0.35em;
  padding: 0.25em 1.5em;
}
.play__link {
  transition: background-color 0.2s ease;
}
.play__link:hover {
  background: rgba(var(--accent), 0.8);
}
.play__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background: var(--accent);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
.play__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.play__link::after {
  bottom: -10px;
  pointer-events: none;
  transition: transform 0.2s ease-out, background-color 0.2s ease;
}
.play__link:hover:after {
  background: rgba(var(--accent), 0.8);
}
.play__template_box {
  display: grid;
  place-items: center;
  position: relative;
  border: 5px solid var(--light);
  margin-bottom: 3em;
  padding: 1.35em 1em 0.5em;
}
.play__template {
  max-width: 600px;
  width: 100%;
}
.play__template-desc {
  position: absolute;
  top: -1em;
  background: var(--main);
  padding: 0 1em;
}

.design-play {
  -webkit-clip-path: polygon(0 0, 30% 2.5vh, 100% 2.5vh, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 30% 2.5vh, 100% 2.5vh, 100% 100%, 0 100%);
  margin: -2.5vh 0 0;
}

.tutorials {
  background: var(--light);
  color: var(--dark);
  padding: 2.5em 0;
}
.tutorials__title {
  text-align: right;
}
.tutorials__description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25em;
  margin: 1.25em 0 0.75em;
}
.tutorials__container {
  margin: 3em 0 4em;
}
.tutorials__container__box {
  border: 5px solid var(--dark);
  padding: 1em 2em;
  margin: 1em 0;
  background: var(--main);
  transition: transform 0.2s ease-in-out;
}
.tutorials__container__box:hover {
  transform: scale(1.05);
}
.tutorials__element {
  text-align: center;
}
.tutorials__element-desc {
  margin: 1em 0 0.5em;
}
.tutorials__element-note {
  display: block;
  margin: 1em 0 0.5em;
}
.tutorials__link {
  background: var(--main);
}

.design-tutorials {
  -webkit-clip-path: polygon(0 2.5vh, 70% 2.5vh, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 2.5vh, 70% 2.5vh, 100% 0, 100% 100%, 0 100%);
  margin: -2.5vh 0 0;
}

.info {
  background: var(--main);
  color: var(--dark);
  padding: 2.5em 0;
  min-height: 50vh;
}
.info__description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25em;
  margin: 1.25em 0 0.75em;
}
.info__rules {
  margin: 0 0 4em;
}
.info__rules__box {
  border: 5px solid var(--dark);
  padding: 2em 1em 3em;
  margin: 1em 0 2em;
  background: var(--light);
  transition: transform 0.2s ease-in-out;
}
.info__rules__box:hover {
  transform: scale(1.05);
}
.info__rules-element {
  font-size: 0.9rem;
}
.info__rules-element-list {
  list-style: decimal;
  padding-left: 2.3em;
}
.info__rules-element-rule {
  margin: 0.5em 0 0;
  font-size: 0.8em;
}
.info__container {
  display: grid;
  place-items: center;
  gap: 1em;
}
.info__link {
  position: relative;
  background: var(--accent);
  color: var(--light);
  text-align: center;
  font-size: 1.25rem;
  margin: 0.1em 0 0.35em;
  padding: 0.25em 1.5em;
}
.info__link {
  transition: background-color 0.2s ease;
}
.info__link:hover {
  background: rgba(var(--accent), 0.8);
}
.info__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background: var(--accent);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
.info__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.info__link::after {
  bottom: -10px;
  pointer-events: none;
  transition: transform 0.2s ease-out, background-color 0.2s ease;
}
.info__link:hover:after {
  background: rgba(var(--accent), 0.8);
}

.design-info {
  -webkit-clip-path: polygon(0 0, 30% 2.5vh, 100% 2.5vh, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 30% 2.5vh, 100% 2.5vh, 100% 100%, 0 100%);
  margin: -2.5vh 0 0;
}

.contact {
  background: var(--dark);
  color: var(--light);
  border-top: 0.5em solid var(--accent);
  padding: 2em 0;
}
.contact .section__title {
  text-align: center;
  font-size: 2.75rem;
  letter-spacing: 0.1em;
}
.contact .section__content {
  display: flex;
  justify-content: center;
  gap: 1.25em;
  margin-top: 1em;
}
.contact__type {
  font-size: 2.4rem;
  transition: transform 0.2s ease-out;
}
.contact__type:hover {
  transform: scale(1.15) rotate(-5deg);
}
.contact__copyright {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 1em;
}

@media screen and (min-width: 48em) {
  .scrollUp {
    font-size: 2.25rem;
  }

  .prop__backpack {
    height: 10rem;
  }
  .prop__wrench {
    top: 97.5%;
    right: 15vw;
    height: 5rem;
    transform: rotateY(180deg);
  }
  .prop__gold {
    height: 5rem;
  }
  .prop__gold--1 {
    top: 15%;
    right: 8vw;
    transform: rotate(35deg);
  }
  .prop__gold--2 {
    top: 68%;
    left: 4vw;
    transform: rotate(0deg);
  }
  .prop__model {
    height: 26.5vw;
    right: 0;
    bottom: 9vh;
  }

  .shape {
    display: initial;
    position: absolute;
    z-index: 2;
    height: 0;
    width: 0;
  }
  .shape__triangle-br {
    border-bottom: 25vh solid var(--color);
    border-left: 15vh solid transparent;
  }
  .shape__triangle-br--hero {
    --color: var(--main);
    right: 0;
    bottom: -15vh;
  }
  .shape__triangle-br--play {
    --color: var(--light);
    right: 0;
    bottom: 0;
  }
  .shape__triangle-tr {
    border-top: 25vh solid var(--color);
    border-left: 15vh solid transparent;
  }
  .shape__triangle-tr--server {
    --color: var(--dark);
    top: 15vh;
    right: 0;
  }
  .shape__triangle-tr--play {
    --color: var(--accent);
    top: -10vh;
    right: 0;
  }
  .shape__triangle-bl {
    border-bottom: 25vh solid var(--color);
    border-right: 15vh solid transparent;
  }
  .shape__triangle-bl--server {
    --color: var(--light);
    bottom: 12.5vh;
    left: 0;
  }
  .shape__triangle-bl--dynmap {
    --color: var(--dark);
    bottom: 0;
    left: 0;
  }
  .shape__triangle-bl--play {
    --color: var(--light);
    bottom: 12.5vh;
  }
  .shape__triangle-tl {
    border-top: 25vh solid var(--color);
    border-right: 15vh solid transparent;
  }
  .shape__triangle-tl--dynmap {
    --color: var(--main);
    top: 0;
    left: 0;
  }
  .shape__triangle-tl--tutorials {
    --color: var(--main);
    top: 0;
    left: 0;
  }

  body {
    background: var(--dark);
  }

  .hero {
    align-content: space-around;
    padding-bottom: 5vh;
  }
  .hero__top-box {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0.3125em solid var(--dark);
  }
  .hero__content {
    display: grid;
    place-items: center;
    grid-template: 0.5fr 1fr/1fr 1fr 1fr;
    grid-template-areas: "img img ." "img img quote";
  }
  .hero__img {
    grid-area: img;
    height: 33rem;
  }
  .hero__quote {
    grid-area: quote;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .hero__quote__text {
    font-size: 1.25rem;
  }
  .hero__buy-box {
    margin: 0 auto;
  }
  .hero__buy-box:hover .hero__buy--text {
    color: rgba(var(--accent), 0.8);
    transform: translateY(-0.6em) scale(1.5);
  }
  .hero__buy--btn {
    padding: 0.5em 1em;
  }
  .hero__buy--btn {
    transition: background-color 0.2s ease;
  }
  .hero__buy--btn:hover {
    background: rgba(var(--accent), 0.8);
  }
  .hero__buy--btn::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--accent);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
  }
  .hero__buy--btn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .hero__buy--btn::after {
    bottom: -10px;
    pointer-events: none;
    transition: transform 0.2s ease-out, background-color 0.2s ease;
  }
  .hero__buy--btn:hover:after {
    background: rgba(var(--accent), 0.8);
  }
  .hero__buy--text {
    transition: transform 0.2s ease-out, color 0.2s ease;
  }

  .nav {
    position: relative;
  }
  .nav-toggle, .nav-close {
    display: none;
  }
  .nav__list {
    all: unset;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
  }
  .nav__item + .nav__item {
    margin-left: 1.05vw;
  }
  .nav__item:last-of-type {
    padding: unset;
    padding-left: 1vw;
    border: unset;
    border-left: 5px solid var(--accent);
  }
  .nav__link {
    font-size: min(1.3rem, 1.725vw);
  }

  .section__title {
    font-size: 4.25rem;
    margin-left: 0.5em;
  }
  .section__title--left {
    text-align: left;
  }
  .section__title--right {
    text-align: right;
  }

  .server {
    padding: max(8.25vh, 4.25rem) 0 4em;
  }
  .server > .container {
    margin-bottom: 12.5vh;
  }
  .server__description {
    font-size: 1.35rem;
    line-height: 1.25em;
    margin: 2.5em 0.9em 2em;
  }
  .server__title {
    font-size: 3rem;
  }
  .server__container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 0 3em;
  }
  .server__container:last-of-type {
    margin-bottom: 12em;
  }
  .server__element-desc {
    font-size: 1.2rem;
    margin: 1.25em 0 0.5em;
  }

  .design-server {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-clip-path: polygon(0 0, 66% 0, 70% 15vh, 100% 15vh, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 66% 0, 70% 15vh, 100% 15vh, 100% 100%, 0 100%);
    margin: initial;
  }
  .design-server--accent {
    z-index: 2;
    background: var(--accent);
    -webkit-clip-path: polygon(0 0, 66% 0, 70% 15vh, 63.55% 15vh, 60.35% 3vh, 0 3vh);
            clip-path: polygon(0 0, 66% 0, 70% 15vh, 63.55% 15vh, 60.35% 3vh, 0 3vh);
  }
  .design-server--light {
    z-index: 1;
    background: var(--light);
    -webkit-clip-path: polygon(0 0, 66% 0, 70% 15vh, 60% 15vh, 57.2% 4.5vh, 0 4.5vh);
            clip-path: polygon(0 0, 66% 0, 70% 15vh, 60% 15vh, 57.2% 4.5vh, 0 4.5vh);
  }

  .dynmap {
    padding: max(8.25vh, 4.25rem) 0 1.75em;
  }
  .dynmap__description {
    font-size: 1.35rem;
    line-height: 1.25em;
    margin: 3em 0.9em 1.25em;
  }
  .dynmap__link {
    margin-left: 0.3em;
  }

  .design-dynmap {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-clip-path: polygon(0 0, 58% 0, 62% 12.5vh, 100% 12.5vh, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 58% 0, 62% 12.5vh, 100% 12.5vh, 100% 100%, 0 100%);
    margin: initial;
    margin-top: -12.5vh;
  }
  .design-dynmap--accent {
    z-index: 2;
    background: var(--accent);
    -webkit-clip-path: polygon(48% 0, 54% 0, 58.35% 13.5vh, 100% 13.5vh, 100% 15vh, 52.8% 15vh);
            clip-path: polygon(48% 0, 54% 0, 58.35% 13.5vh, 100% 13.5vh, 100% 15vh, 52.8% 15vh);
  }

  .play {
    padding: max(17.25vh, 4.25rem) 0 1.75em;
  }
  .play > .container {
    margin-bottom: 12.5vh;
  }
  .play__description {
    font-size: 1.35rem;
    line-height: 1.25em;
    margin: 1em 0 1.25em;
  }
  .play__description--ps {
    font-size: 0.775em;
    margin: 0 0 4.5em;
  }
  .play__link {
    font-size: 2.65rem;
  }
  .play__template-desc {
    font-size: 1.2rem;
  }

  .design-play {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-clip-path: polygon(0 10vh, 82.15% 10vh, 85% 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 10vh, 82.15% 10vh, 85% 0, 100% 0, 100% 100%, 0 100%);
    margin: initial;
    margin-top: -10vh;
  }
  .design-play--accent {
    z-index: 2;
    background: var(--accent);
    -webkit-clip-path: polygon(0 11.5vh, 85.35% 11.5vh, 88.59% 0, 95% 0, 91% 15vh, 0 15vh);
            clip-path: polygon(0 11.5vh, 85.35% 11.5vh, 88.59% 0, 95% 0, 91% 15vh, 0 15vh);
  }
  .design-play--light {
    z-index: 1;
    background: var(--dark);
    -webkit-clip-path: polygon(0 10vh, 82.15% 10vh, 85% 0, 95% 0, 91% 15vh, 0 15vh);
            clip-path: polygon(0 10vh, 82.15% 10vh, 85% 0, 95% 0, 91% 15vh, 0 15vh);
  }

  .tutorials {
    padding: max(8.25vh, 4.25rem) 0 1.75em;
  }
  .tutorials > .container {
    margin-bottom: 10vh;
  }
  .tutorials__description {
    font-size: 1.35rem;
    line-height: 1.25em;
    margin: 3em 0.9em 1.25em;
  }
  .tutorials__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    gap: 1rem;
    margin: 3em 0 8em;
  }
  .tutorials__container__box {
    margin: initial;
  }
  .tutorials__container__box:nth-child(1) {
    grid-row: span 1/2;
    grid-column: span 2;
  }
  .tutorials__container__box:nth-child(2) {
    grid-row: span 1;
    grid-column: span 2;
  }
  .tutorials__container__box:nth-child(3) {
    grid-row: span 1/1;
    grid-column: span 2;
  }
  .tutorials__container__box:nth-child(5) {
    grid-row: span 1/4;
    grid-column: span 2;
  }
  .tutorials__container__box:nth-child(7) {
    grid-row: span 1/6;
    grid-column: span 1;
  }
  .tutorials__container__box:nth-child(8) {
    grid-row: span 1/5;
    grid-column: span 1;
  }
  .tutorials__container__box:nth-child(13) {
    grid-row: span 1;
    grid-column: span 2;
  }
  .tutorials__container__box:nth-child(15) {
    grid-row: span 1/6;
    grid-column: span 1;
  }
  .tutorials__element-desc {
    font-size: 1.2rem;
  }
  .tutorials__element-note {
    font-size: 1.1rem;
  }

  .design-tutorials {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-clip-path: polygon(0 0, 61% 0, 65% 12.5vh, 100% 12.5vh, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 61% 0, 65% 12.5vh, 100% 12.5vh, 100% 100%, 0 100%);
    margin: initial;
    margin-top: -12.5vh;
  }
  .design-tutorials--accent {
    z-index: 2;
    background: var(--accent);
    -webkit-clip-path: polygon(51% 0, 57% 0, 61.35% 13.5vh, 100% 13.5vh, 100% 15vh, 55.8% 15vh);
            clip-path: polygon(51% 0, 57% 0, 61.35% 13.5vh, 100% 13.5vh, 100% 15vh, 55.8% 15vh);
  }

  .info {
    padding: max(9.5vh, 4.25rem) 0 1.75em;
  }
  .info__description {
    font-size: 1.35rem;
    line-height: 1.25em;
    margin: 3em 0.9em 1.25em;
  }
  .info__link {
    font-size: 1.45rem;
  }
  .info__rules__box {
    padding: 3em 3em 4em;
  }
  .info__rules-element {
    font-size: 1.2rem;
  }
  .info__rules-element-list {
    padding-left: 3.5em;
  }
  .info__rules-element-rule {
    margin: 0.65em 0 0;
    font-size: 1.1rem;
  }
  .info__container {
    display: flex;
    justify-content: center;
  }

  .design-info {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-clip-path: polygon(0 0, 20% 5vh, 35% 2.5vh, 65% 2.5vh, 80% 5vh, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 20% 5vh, 35% 2.5vh, 65% 2.5vh, 80% 5vh, 100% 0, 100% 100%, 0 100%);
    margin: initial;
    margin-top: -10vh;
  }
  .design-info--accent {
    z-index: 2;
    background: var(--accent);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 5vh, 80% 7.5vh, 65% 5vh, 35% 5vh, 20% 7.5vh, 0 5vh);
            clip-path: polygon(0 0, 100% 0, 100% 5vh, 80% 7.5vh, 65% 5vh, 35% 5vh, 20% 7.5vh, 0 5vh);
  }
  .design-info--light {
    z-index: 1;
    background: var(--light);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 9vh, 80% 10vh, 65% 8vh, 35% 8vh, 20% 10vh, 0 9vh);
            clip-path: polygon(0 0, 100% 0, 100% 9vh, 80% 10vh, 65% 8vh, 35% 8vh, 20% 10vh, 0 9vh);
  }

  .contact {
    border-top: 0.5em solid var(--accent);
  }
  .contact .container {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(1fr, 6);
    grid-template-areas: "section . . contact . copyright";
    gap: 1em;
  }
  .contact .section__title {
    grid-area: section;
  }
  .contact .section__content {
    grid-area: contact;
    transform: translateY(-12.5%);
  }
  .contact__type {
    font-size: 2.7rem;
  }
  .contact__copyright {
    grid-area: copyright;
    font-size: 1.2rem;
    transform: translateY(-40%);
  }
}
@media screen and (min-width: 62.5em) {
  .scrollUp {
    font-size: 2.5rem;
  }

  .prop__backpack {
    height: min(15rem, 15vw);
  }
  .prop__wrench {
    top: 95%;
    right: 15vw;
    height: 8rem;
    transform: rotateY(180deg);
  }
  .prop__gold {
    height: 6rem;
  }
  .prop__gold--1 {
    top: 15%;
    right: 8vw;
    transform: rotate(35deg);
  }
  .prop__gold--2 {
    top: 30%;
    left: 9vw;
    transform: rotate(12deg);
  }
  .prop__sword {
    top: 75%;
    left: 2vw;
    height: 10rem;
    transform: rotate(0deg);
  }

  body {
    background: var(--dark);
  }

  .hero {
    height: 100vh;
  }
  .hero__img {
    height: min(44rem, 40vw);
    transform: translateX(15%) scale(1.15);
  }
  .hero__quote {
    transform: translateX(-35%);
  }
  .hero__quote__text {
    font-size: 1.35rem;
  }
  .hero__buy--btn {
    font-size: 3.2rem;
  }

  .nav__link {
    font-size: min(1.35rem, 1.725vw);
  }

  .section__title {
    font-size: 5rem;
    margin-left: 0.15em;
  }

  .server__description {
    text-align: left;
    margin: 3em 0 4em;
  }
  .server__title {
    font-size: 3.5rem;
  }
  .server__element-desc {
    font-size: 1.25rem;
  }

  .dynmap__link {
    margin-left: 0.4em;
  }

  .design-dynmap {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-clip-path: polygon(0 0, 48% 0, 52% 12.5vh, 100% 12.5vh, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 48% 0, 52% 12.5vh, 100% 12.5vh, 100% 100%, 0 100%);
    margin: initial;
    margin-top: -12.5vh;
  }
  .design-dynmap--accent {
    z-index: 2;
    background: var(--accent);
    -webkit-clip-path: polygon(38% 0, 44% 0, 48.35% 13.5vh, 100% 13.5vh, 100% 15vh, 42.8% 15vh);
            clip-path: polygon(38% 0, 44% 0, 48.35% 13.5vh, 100% 13.5vh, 100% 15vh, 42.8% 15vh);
  }

  .play__description--ps {
    font-size: 0.9rem;
  }
  .play__link {
    font-size: 3.25rem;
  }

  .tutorials__container__box:nth-child(1) {
    grid-row: span 1/4;
    grid-column: span 3;
  }
  .tutorials__container__box:nth-child(3) {
    grid-row: span 1;
    grid-column: span 3;
  }
  .tutorials__container__box:nth-child(4) {
    grid-row: span 1/1;
    grid-column: 3/span 1;
  }
  .tutorials__container__box:nth-child(5) {
    grid-row: span 1;
    grid-column: span 2;
  }
  .tutorials__container__box:nth-child(7) {
    grid-row: span 1/7;
    grid-column: 3/span 1;
  }
  .tutorials__container__box:nth-child(8) {
    grid-row: span 1/3;
    grid-column: span 1;
  }
  .tutorials__container__box:nth-child(9) {
    grid-row: span 1/8;
    grid-column: span 1;
  }
  .tutorials__container__box:nth-child(11) {
    grid-row: span 1/5;
    grid-column: 1/span 1;
  }
  .tutorials__container__box:nth-child(13) {
    grid-row: span 1/6;
    grid-column: span 3;
  }
  .tutorials__container__box:nth-child(14) {
    grid-row: span 1;
    grid-column: span 2;
  }
  .tutorials__container__box:nth-child(15) {
    grid-row: span 1/5;
    grid-column: span 1;
  }
  .tutorials__container__element-desc {
    font-size: 1.25rem;
  }
  .tutorials__container__element-note {
    font-size: 1.15rem;
  }

  .design-tutorials {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-clip-path: polygon(0 0, 51% 0, 55% 12.5vh, 100% 12.5vh, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 51% 0, 55% 12.5vh, 100% 12.5vh, 100% 100%, 0 100%);
    margin: initial;
    margin-top: -12.5vh;
  }
  .design-tutorials--accent {
    z-index: 2;
    background: var(--accent);
    -webkit-clip-path: polygon(41% 0, 47% 0, 51.35% 13.5vh, 100% 13.5vh, 100% 15vh, 45.8% 15vh);
            clip-path: polygon(41% 0, 47% 0, 51.35% 13.5vh, 100% 13.5vh, 100% 15vh, 45.8% 15vh);
  }

  .info__rules-element {
    font-size: 1.25rem;
  }
  .info__rules-element-rule {
    margin: 0.65em 0 0;
    font-size: 1.15rem;
  }

  .contact .section__title {
    font-size: 4rem;
  }
  .contact__type {
    font-size: 3rem;
  }
  .contact__copyright {
    font-size: 1.35rem;
  }
}/*# sourceMappingURL=main.css.map */