//================================================================//
//===// Incorporating required default layout scss variables //===//
//================================================================//

@use '../abstracts' as *;

//====================//
//===// Reusable //===//
//====================//

//===// Container //===//

.container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

//===// Section //===//

section {
  position: relative;
}

//===// Scroll up //===//

.scrollUp {
  right: 31.5px;
  bottom: 85px;
  opacity: 0;
  visibility: hidden;

  &.scrollUp--active {
    opacity: 1;
    visibility: visible;
  }

  @include hover-op;
}

//===// Props //===//

.prop {
  position: absolute;
  height: 100%;

  &__chain {
    top: 68px;
  }

  &__clock {
    top: 131px;
    transform: rotate(-25deg);
  }

  &__backpack {
    position: relative;
    height: 5rem;
  }

  &__wrench {
    height: 5rem;
    top: 52.5%;
    right: 13vw;
    transform: rotateY(180deg);
  }

  &__gold {
    height: 3.5rem;
    top: 15%;
    right: 8vw;
    transform: rotate(35deg);

    &--first {
      top: 58%;
      left: 4vw;
      transform: rotate(0deg);
    }
  }

  &__sword {
    height: 0;
  }

  &__model {
    height: 0;
  }
}

//===// Shapes //===//

.shape {
  display: none;
}

//===// Contour //===//

.contour {
  position: absolute;
  height: 20vh;
  width: 100%;
}

//================//
//===// Root //===//
//================//

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: color(bg-dark);
}

::-webkit-scrollbar-thumb {
  background: color(bg-main);
  border-left: 0.15em solid color(bg-dark);
}

//================//
//===// Body //===//
//================//

body {
  background: color(bg-light);
  color: color(txt-dark);
  font-family: font(main);
}

//==================//
//===// Header //===//
//==================//

//===// Header > Hero //===//

.hero {
  @include dark-theme;
  display: grid;
  align-content: space-between;
  min-height: 100vh;

  &__top-box {
    position: relative;
    z-index: 7;
    background: color(bg-main);
    padding: 1em 1.8em;
  }

  &__top {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.45rem;
    line-height: 0.85;

    &--main {
      color: color(txt-light);
    }

    &--secondary {
      color: color(txt-dark);
    }
  }

  &__content {
    display: grid;
    align-content: center;
    justify-content: center;
  }

  &__img {
    height: 22rem;
  }

  &__quote {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    @media screen and (max-height: 41.25em) {
      display: none;
    }

    &__text {
      text-transform: uppercase;
      font-weight: bolder;
      line-height: 1em;

      & > span:not(:last-of-type) {
        user-select: none;
        -webkit-text-stroke: 0.5px color(txt-light);
      }

      & > * {
        display: block;
      }

      &--link {
        color: color(accent);
      }
    }
  }

  &__buy-box {
    position: relative;
    z-index: 6;
    text-align: center;
  }

  &__buy {
    font-weight: 900;

    &--btn {
      background: color(accent);
      color: color(txt-light);
      text-transform: uppercase;
      -webkit-text-stroke: 3px color(txt-main);
      font-size: 3rem;

      @include hover-bg(color(accent));
    }

    &--text {
      color: color(accent);
      font-size: 0.8rem;
      margin-bottom: 0.25em;
    }
  }
}

//===// Header > Navigation menu //===//

.nav {
  position: absolute;

  &-toggle {
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 9;
  }

  &-close {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    height: 100%;
    width: 15%;

    &--visibility {
      z-index: 8;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background: color(bg-light);
    border-left: 5px solid color(bg-main);
    text-align: center;
    transform: translateX(100%);
    transition: opacity duration(nav-show-time) ease, visibility duration(nav-show-time) ease;
    animation: nav-hide duration(nav-hide-time) ease-in-out;

    &--visibility {
      opacity: 1;
      visibility: visible;
      animation: nav-show duration(nav-show-time) ease-in-out forwards;
    }
  }

  &__item:last-of-type {
    border-top: 5px solid color(accent);
    padding: 1em 5em 0;
  }

  &__link {
    display: inline-block;
    position: relative;
    color: color(txt-dark);
    font-family: font(main);
    font-size: 1.25rem;

    @include hover-op;
    @include hover-underline;

    &--active {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background: color(accent);
        transform: scaleX(1);
        transform-origin: bottom center;
        transition: transform duration(nav-link-anim-time) ease-out;
      }
    }
  }
}

//================//
//===// Main //===//
//================//

.section {
  &__title {
    text-align: center;
    font-family: font(accent);
    font-size: 3.5rem;
    text-shadow: 2px 5px 3px rgba(color(bg-dark), 0.35);
  }
}

//===// Main > Server //===//

.server {
  @include main-theme;
  padding: 2.5em 0;

  &__description {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25em;
    margin: 1.5em 0 2em;

    &--main {
      color: color(txt-light);
      text-decoration: underline;
    }

    &--block {
      display: block;
    }
  }

  &__title {
    text-align: center;
    -webkit-text-stroke: 0px color(accent);
    font-family: font(accent);
    font-size: 2.25rem;
    margin: 1.25em 0 0;
  }

  &__container {
    border: 5px solid color(bg-light);
    padding: 0.5em 1em;

    &__box {
      display: grid;
      place-items: center;
      padding: 1em 0;
    }
  }

  &__element {
    transition: transform duration(btn-anim-time) ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &-desc {
      text-align: center;
      background: color(bg-light);
      border-bottom: 0.25em solid color(accent);
      margin: 0.5em 0;
      padding: 0.25em 1em 0em;
    }
  }
}

.design-server {
  clip-path: polygon(0 0, 30% 2.5vh, 100% 2.5vh, 100% 100%, 0 100%);
  background: color(bg-main);
}

//===// Main > Dynmap //===//

.dynmap {
  @include light-theme;
  padding: 2.5em 0;

  &__description {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25em;
    margin: 1.25em 0 0.75em;

    &--ps {
      font-size: 0.65em;
      margin: 0 0 -1em;
    }
  }

  &__link {
    margin-left: 0.5em;
  }

  &__map {
    display: block;
    width: 80%;
    max-width: 800px;
    aspect-ratio: 4 / 3;
    margin: 2em auto;
    border: 5px solid color(accent);
  }
}

.design-dynmap {
  clip-path: polygon(0 2.5vh, 70% 2.5vh, 100% 0, 100% 100%, 0 100%);
  margin: -2.5vh 0 0;
}

//===// Main > Play with us //===//

.play {
  @include main-theme;
  padding: 2.5em 0;

  &__description {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25em;
    margin: 1.25em 0 0.75em;

    &--ps {
      font-size: 0.65em;
      margin: 0 0 4em;
    }
  }

  & .section__content {
    display: grid;
    place-items: center;
  }

  &__link {
    position: relative;
    background: color(accent);
    color: color(txt-light);
    text-align: center;
    font-size: 2rem;
    margin: 1em 0 0.35em;
    padding: 0.25em 1.5em;

    @include hover-underline-alt;
  }

  &__template_box {
    display: grid;
    place-items: center;
    position: relative;
    border: 5px solid color(bg-light);
    margin-bottom: 3em;
    padding: 1.35em 1em 0.5em;
  }

  &__template {
    max-width: 600px;
    width: 100%;

    &-desc {
      position: absolute;
      top: -1em;
      background: color(bg-main);
      padding: 0 1em;
    }
  }
}

.design-play {
  clip-path: polygon(0 0, 30% 2.5vh, 100% 2.5vh, 100% 100%, 0 100%);
  margin: -2.5vh 0 0;
}

//===// Main > tutorials //===//

.tutorials {
  @include light-theme;
  padding: 2.5em 0;

  &__description {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25em;
    margin: 1.25em 0 0.75em;
  }

  &__container {
    margin: 3em 0 4em;

    &__box {
      border: 5px solid color(bg-dark);
      padding: 1em 2em;
      margin: 1em 0;
      background: color(bg-main);

      transition: transform duration(btn-anim-time) ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__element {
    text-align: center;

    &-desc {
      margin: 1em 0 0.5em;
    }

    &-note {
      display: block;
      margin: 1em 0 0.5em;
    }
  }

  &__link {
    background: color(bg-main);
  }
}

.design-tutorials {
  clip-path: polygon(0 2.5vh, 70% 2.5vh, 100% 0, 100% 100%, 0 100%);
  margin: -2.5vh 0 0;
}

//===// Main > Files //===//

.info {
  @include main-theme;
  padding: 2.5em 0;
  min-height: 50vh;

  &__description {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25em;
    margin: 1.25em 0 0.75em;
  }

  &__rules {
    margin: 0 0 4em;

    &__box {
      border: 5px solid color(bg-dark);
      padding: 2em 1em 3em;
      margin: 1em 0 2em;
      background: color(bg-light);

      transition: transform duration(btn-anim-time) ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    &-element {
      font-size: 0.9rem;

      &-list {
        list-style: decimal;
        padding-left: 2.3em;
      }

      &-rule {
        margin: 0.5em 0 0;
        font-size: 0.8em;
      }
    }
  }

  &__container {
    display: grid;
    place-items: center;
    gap: 1em;
  }

  &__link {
    position: relative;
    background: color(accent);
    color: color(txt-light);
    text-align: center;
    font-size: 1.25rem;
    margin: 0.1em 0 0.35em;
    padding: 0.25em 1.5em;

    @include hover-underline-alt;
  }
}

.design-info {
  clip-path: polygon(0 0, 30% 2.5vh, 100% 2.5vh, 100% 100%, 0 100%);
  margin: -2.5vh 0 0;
}

//==================//
//===// Footer //===//
//==================//

//===// Footer > Contact //===//

.contact {
  @include dark-theme;

  border-top: 0.5em solid color(accent);
  padding: 2em 0;

  & .section__title {
    text-align: center;
    font-size: 2.75rem;
    letter-spacing: 0.1em;
  }

  & .section__content {
    display: flex;
    justify-content: center;
    gap: 1.25em;
    margin-top: 1em;
  }

  &__type {
    font-size: 2.4rem;
    transition: transform duration(btn-anim-time) ease-out;

    &:last-of-type {
      margin-left: 0.5em;
    }

    &:hover {
      transform: scale(1.15) rotate(-5deg);
    }
  }

  &__copyright {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1em;
  }
}
