//================================================================//
//===// Incorporating required desktop layout scss variables //===//
//================================================================//

@use '../abstracts' as *;

//=======================================//
//===// Responsive layout - desktop //===//
//=======================================//

@include desktop {
  //====================//
  //===// Reusable //===//
  //====================//

  //===// Scroll up //===//

  .scrollUp {
    font-size: 2.5rem;
  }

  //===// Props //===//

  .prop {
    &__backpack {
      height: min(15rem, 15vw);
    }

    &__wrench {
      top: 95%;
      right: 15vw;
      height: 8rem;
      transform: rotateY(180deg);
    }

    &__gold {
      height: 6rem;

      &--1 {
        top: 15%;
        right: 8vw;
        transform: rotate(35deg);
      }

      &--2 {
        top: 30%;
        left: 9vw;
        transform: rotate(12deg);
      }
    }

    &__sword {
      top: 75%;
      left: 2vw;
      height: 10rem;
      transform: rotate(0deg);
    }
  }

  //================//
  //===// Body //===//
  //================//

  body {
    background: color(bg-dark);
  }

  //==================//
  //===// Header //===//
  //==================//

  //===// Header > Hero //===//

  .hero {
    height: 100vh;

    &__img {
      height: min(44rem, 40vw);
    }

    &__quote {
      transform: translateX(-35%);

      &__text {
        font-size: 1.35rem;
      }
    }

    &__buy {
      &--btn {
        font-size: 3.2rem;
      }
    }
  }

  //===// Header > Navigation menu //===//

  .nav {
    &__link {
      font-size: min(1.35rem, 1.725vw);
    }
  }

  //================//
  //===// Main //===//
  //================//

  .section {
    &__title {
      font-size: 5rem;
      margin-left: 0.15em;
    }
  }

  //===// Main > Server //===//

  .server {
    &__description {
      text-align: left;
      margin: 3em 0 4em;
    }

    &__title {
      font-size: 3.5rem;
    }

    &__element {
      &-desc {
        font-size: 1.25rem;
      }
    }
  }

  //===// Main > Dynmap //===//

  .dynmap {
    &__link {
      margin-left: 0.4em;
    }
  }

  .design-dynmap {
    clip-path: none;
    clip-path: polygon(0 0, 48% 0, 52% 12.5vh, 100% 12.5vh, 100% 100%, 0 100%);
    margin: initial;
    margin-top: -12.5vh;

    &--accent {
      z-index: 2;
      background: color(accent);
      clip-path: polygon(38% 0, 44% 0, 48.35% 13.5vh, 100% 13.5vh, 100% 15vh, 42.8% 15vh);
    }
  }

  //===// Main > Play with us //===//

  .play {
    &__description {
      &--ps {
        font-size: 0.9rem;
      }
    }

    &__link {
      font-size: 3.25rem;
    }
  }

  //===// Main > Tutorials //===//

  .tutorials {
    &__container {
      &__box {
        // Backpacks 1
        &:nth-child(1) {
          grid-row: span 1 / 4;
          grid-column: span 3;
        }
        // Graves 3
        &:nth-child(3) {
          grid-row: span 1;
          grid-column: span 3;
        }
        // Heads 4
        &:nth-child(4) {
          grid-row: span 1 / 1;
          grid-column: 3 / span 1;
        }
        // Shield 5
        &:nth-child(5) {
          grid-row: span 1;
          grid-column: span 2;
        }
        // DiscordSRV 7
        &:nth-child(7) {
          grid-row: span 1 / 7;
          grid-column: 3 / span 1;
        }
        // Essentials 8
        &:nth-child(8) {
          grid-row: span 1 / 3;
          grid-column: span 1;
        }
        // ImageOnMap 9
        &:nth-child(9) {
          grid-row: span 1 / 8;
          grid-column: span 1;
        }
        // MarriageMaster 11
        &:nth-child(11) {
          grid-row: span 1 / 5;
          grid-column: 1 / span 1;
        }
        // SkinsRestorer 13
        &:nth-child(13) {
          grid-row: span 1 / 6;
          grid-column: span 3;
        }
        // StackMob 14
        &:nth-child(14) {
          grid-row: span 1;
          grid-column: span 2;
        }
        // XPKeeper 15
        &:nth-child(15) {
          grid-row: span 1 / 5;
          grid-column: span 1;
        }
      }

      &__element {
        &-desc {
          font-size: 1.25rem;
        }

        &-note {
          font-size: 1.15rem;
        }
      }
    }
  }

  .design-tutorials {
    clip-path: none;
    clip-path: polygon(0 0, 51% 0, 55% 12.5vh, 100% 12.5vh, 100% 100%, 0 100%);
    margin: initial;
    margin-top: -12.5vh;

    &--accent {
      z-index: 2;
      background: color(accent);
      clip-path: polygon(41% 0, 47% 0, 51.35% 13.5vh, 100% 13.5vh, 100% 15vh, 45.8% 15vh);
    }
  }

  //===// Main > Files //===//

  .info {
    &__rules {
      &-element {
        font-size: 1.25rem;

        &-rule {
          margin: 0.65em 0 0;
          font-size: 1.15rem;
        }
      }
    }
  }

  //==================//
  //===// Footer //===//
  //==================//

  //===// Footer > Contact //===//

  .contact {
    & .section__title {
      font-size: 4rem;
    }

    &__type {
      font-size: 3rem;
    }

    &__copyright {
      font-size: 1.35rem;
    }
  }
}
