//======================//
//===// Typography //===//
//======================//

a {
  text-decoration: none;
}

button {
  display: inline-block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
