//===================//
//===// Timings //===//
//===================//

$duration: (
  /*1.0s*/ 'transition-static': 1s,
  /*0.6s*/ 'transition-time': 0.6s,
  /*0.2s*/ 'btn-anim-time': 0.2s,
  /*.35s*/ 'nav-hide-time': 0.35s,
  /*0.5s*/ 'nav-show-time': 0.5s
);
