//=================//
//===// Fonts //===//
//=================//

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,300;0,500;0,700;1,900&display=swap');

@font-face {
  font-family: 'BPimperial';
  src: url(/fonts/BPimperial_italic.otf);
  font-style: italic;
}

$font: (
  'main': (
    'Saira',
    sans-serif,
  ),
  'accent': (
    'BPimperial',
    serif,
  ),
);
