//========================================================//
//===// Incorporating required mixins scss variables //===//
//========================================================//

@use './functions' as *;

//==================//
//===// Mixins //===//
//==================//

//===// Mobile layout //===//

@mixin mobile {
  @media screen and (min-width: brake(mobile)) {
    @content;
  }
}

//===// Desktop layout //===//

@mixin desktop {
  @media screen and (min-width: brake(desktop)) {
    @content;
  }
}

//===// Main theme //===//

@mixin main-theme {
  background: color(bg-main);
  color: color(txt-dark);
}

//===// Light theme //===//

@mixin light-theme {
  background: color(bg-light);
  color: color(txt-dark);

  &__title {
    text-align: right;
  }
}

//===// Dark theme //===//

@mixin dark-theme {
  background: color(bg-dark);
  color: color(txt-light);
}

//===// Hamburger line //===//

@mixin hamburger-line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: color(bg-light);
}

//===// Mouse hover //===//

@mixin hover-op {
  & {
    transition: opacity duration(btn-anim-time) ease;
  }

  &:hover {
    opacity: 0.8;
  }
}

@mixin hover-bg($color: color(txt-dark)) {
  & {
    transition: background-color duration(btn-anim-time) ease;
  }

  &:hover {
    background: rgba($color, 0.8);
  }
}

@mixin hover-underline() {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background: color(accent);
    transform-origin: bottom right;
    transition: transform duration(btn-anim-time) ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
